<section class="section promo" style="background-image: url('<%-story.full%>');">
	<span class="raster"></span>
	<div class="container intro overlay">
		<h2 class="title"><%-story.name%> <span class="small category"><%-story.category%></span></h2>
		<p class="summary"><%-story.description%></p>
		<button type="button" id="startReadingButton" class="btn btn-cta btn-cta-primary">Start Reading</button> 
       	&nbsp;
        <%if(list){%>
        	<strong><%-story.name%></strong> has been added to your List &nbsp;
        	<button type="button" id="removeButton" class="btn btn-cta btn-cta-tertiary">Remove From My List</button>
        <%}else if(user){%>
        	<button type="button" id="addToListButton" class="btn btn-cta btn-cta-tertiary">Add to My List</button>
        <%}%>
        <%if(false) {%>
		<h2 class="title">Chapters</h2>
		<div class="row chap-sm">
			<div class="col-xs-2">
				<a href="#">1. The Long Story</a><br>
				<a href="#">2. A Soul Stone</a><br>
				<a href="#">3. Life</a><br>
				<a href="#">4. More Life</a>
			</div> 
			<div class="col-xs-2">
				<a href="#">5. The Long Story</a><br>
				<a href="#">6. A Soul Stone</a><br>
				<a href="#">7. Life</a><br>
				<a href="#">8. More Life</a>
			</div> 
			<div class="col-xs-2">
				<a href="#">9. The Long Hurtful Story of Me</a><br>
				<a href="#">10. A Soul Stone</a><br>
				<a href="#">11. Life</a><br>
				<a href="#">12. More Life</a>
			</div>
		</div>
		<%}%>
	</div>
</section>
<script type="text/javascript">
	// BEGINS READING STORY
	// $("#startReadingButton").click(function() {
	// 	var qrsName = $(this).parent().prev().prev().children().text();

	// 	$.post(
	// 		'/story/delete',
	// 		{name: qrsName}
	// 	).fail(function(res) {
 //          alert("Error: " + res.getResponseHeader("error"));
 //      	});

 //      	$(this).parent().parent().fadeOut();
	// });

	$("#startReadingButton").click(function() {
		window.location = "/coming_soon";
	});

	// ADDS STORY TO USER'S LIST
	<%if(user){%>
		$("#addToListButton").click(function() {
			var user_id = <%-user.id%>,
			story_id = <%-story.id%>;

			$.post(
				'/list/create', {
					user_id: user_id,
					story_id: story_id
				},
				function() {
					window.location = "/story/read?name=<%-story.name%>";
				}
			).fail(function(res) {
				alert("Error:" + res.getResponseHeader("error"));
			});
		});

		$("#removeButton").click(function() {
			var user_id = <%-user.id%>,
			story_id = <%-story.id%>;

			$.post(
				'/list/delete', {
					user_id: user_id,
					story_id: story_id
				},
				function() {
					window.location = "/story/read?name=<%-story.name%>";
				}
			).fail(function(res) {
				alert("Error:" + res.getResponseHeader("error"));
			});
		});
	<%}%>


</script>